<section class="showView">
  <%= render 'shared/user_card', user: @user %>
  
  <ul class="postsList">
    <li class="bio">
      <h2> Bio </h2>
      <p>
        <%= @user.bio %>
      </p>
    </li>
      <% @posts.includes([:author]).each do |p| %>
      <%= link_to (user_post_path(p.author, p)) do %>
        <li>
          <%= render 'shared/post_card', post: p, callback: :take_five_recent%>
        </li>
        <% end %>
      <% end %>
      <%= button_to "Show all", user_posts_path(@user.id), :method => :get %>
  </ul>
</section>