  <div class="post">
    <p>
      <%= post.title %>
    </p>
    <p>
      <%= post.text %>
    </p>
      <div class=commentsLikes>
        <p>
          Comments: <%= post.comments_counter%>
        </p>
         <%= render 'shared/add_like', post: post %>
      </div>
      <% if post.comments.count > 0 %>
        <ul>
        <% post.send(callback).each do |c| %>
          <li>
            <%= c.text %>
            <%= render 'shared/delete_comment', comment: c, post: post %>
          </li>
        <% end %>
        </ul>
      <% end %>
  </div>