<h1> Create a posts </h1>
<section class="formContainer">
<%= form_with model: [@user, @user.posts.build] do |f| %>
  <div>
  <%= f.label :title %><br>
  <%= f.text_field :title%>
  </div>

  <div>
  <%= f.label :text %><br>
  <%= f.text_area :text%>
  </div>

  <%= f.submit "Create a post" %>

<% end %>
<% flash.each do |type, message| %>
    <div class="notification"> <%= message %> </div>
<% end %>
